.location-card {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(16px);
  border-radius: 16px;
  padding: 22px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.location-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.location-header h4 {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #333;
  font-size: 18px;
  margin-bottom: 6px;
}

.location-header .subtext {
  font-size: 13px;
  color: #777;
  margin-bottom: 15px;
}

.location-search-box {
  display: flex;
  align-items: center;
  background: #f8f8f8;
  border-radius: 10px;
  padding: 7px 12px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.location-search-box .search-icon {
  color: #999;
  margin-right: 8px;
  font-size: 14px;
}

.location-search-box input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 14px;
  font-family: "Poppins";
  width: 100%;
  color: #333;
}

.location-dropdown {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  overflow: hidden;
  z-index: 5;
  position: relative;
}

.location-dropdown li {
  padding: 10px 14px;
  cursor: pointer;
  font-size: 14px;
    font-family: "Poppins";
  color: #333;
  border-bottom: 1px solid #eee;
  transition: 0.2s;
}

.location-dropdown li:hover {
  background: #f8f9fa;
}

.current-location {
  margin-top: 15px;
}
.current-location p {
   font-size: 14px;
    font-family: "Poppins";
}

.detect-btn {
  margin-top: 8px;
  background: #0a66c2;
  color: #fff;
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 7px 14px;
  font-size: 14px;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.detect-btn:hover {
  background: #0a66c2;
  transform: translateY(-2px);
}
